body {
    margin: 0;
    padding: 0;
}
.plansza {
    width: 100%;
    height: 1000px;
//     background: rgb(240,183,161); /* Old browsers */
// background: -moz-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
background-image: url(../images/architecture-celebration-city-751091.jpg);
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: center;
}
.zombie {
    width:200px;
    height:312px;
    background: url(../images/walkingdead.png);

    position: absolute;
    left: 100%;
    bottom: 200px;

    animation:  zombieMove 0.5s  infinite steps(10),
      zombieWalk 10s  1;
      cursor: crosshair;
}
button {
    padding: 20px;
    background: transparent;
    text-shadow: 1px 1px 1px #202020;
    font-size: 18pt;
    border: 1px solid white;
    color: white;
    position: absolute;
    left: 50px;
    top: 50px;


  }

@keyframes zombieMove {
    100% {
        background-position: -2000px 0;
    }

}
@keyframes zombieWalk {
    100% {
        left: -400px;
    }

}